select {
    background: rgb(0, 0, 0, .5);
    border-radius: .2em;
    border: 0px;
    height: 1.5em;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
}

option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
}

option:checked {
    background: rgb(255, 255, 255, .5);
    color: black;
    box-shadow: 0px 0px 1em white;
}

input {
    background: rgb(0, 0, 0, .5);
}

input[type="file"] {
    border-radius: .2em;
    background: rgb(0, 0, 0, .5);
}

input[type="number"] {
    width: 3em;
    text-align: center;
}

input[name="products_count"] {
    width: 2em;
}

.register-form {
    min-width: 485px;
}

.abbreviated-title {
    border-radius: .2em;
    padding-inline: .2em;
    display: none;
    width: 48%;
    color: rgb(185, 185, 185);
}

.drop {
    color: white;
    font-weight: 100;
    background: rgb(0, 0, 0, .5);
    padding-inline: .2em;
    border-radius: .2em;
    cursor: pointer;
    overflow-x: scroll;
    transition: all .2s ease;
}

.drop:hover {
    background: rgb(255, 255, 255, .5);
    color: black;
    box-shadow: 0px 0px 1em white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
}

select:focus-visible {
    outline: none;
}

@media(max-width: 575px) and (aspect-ratio < 1 / 1) {
    .data-input {
        justify-content: space-between;
        flex-direction: row;
    }
    .abbreviated-title {
        display: initial;
    }
    .full-title {
        display: none;
    }
    .register-form {
        min-width: unset;
    }
    .drop {
        width: 48%;
    }
    input {
        width: 48%!important;
    }
    select {
        width: 48%;
    }
    .price-product-input {
        width: 48%;
        justify-content: space-between!important;
    }
    input[type="number"] {
        width: 85%!important;
    }
    input[name="products_count"] {
        width: 48%!important;
    }
    #id_products_count {
        width: 41%!important;
    }
    .products-count-abbreviated-label {
        width: 55%;
    }
    #id_stortage {
        width: 100%;
    }
    .data-input {
        background: rgb(0, 0, 0, 0.2);
        border-radius: .2em;
    }
}