.header-filters {
    width: auto;
    aspect-ratio: 1 / 1;
}

.header-filter {
    display: flex;

    flex-direction: column;
    aspect-ratio: 2 / 1;
    margin: 0px;
    justify-content: center;
}

.header-filter:hover {
    box-shadow: 0px 0px 2em rgb(64 64 64);
}

.filters {
    width: 100%;
    flex-wrap: wrap;
    height: 65%;
}

.choices {
    height: 6vh;
    width: 100%;
    background: rgb(255, 255, 255, .1);
    border-radius: inherit;
    display: flex;
    transform: translateY(100%);
    justify-content: space-between;
    overflow: hidden;
    gap: .2em;
    z-index: 1;
    overflow-x: scroll;
    padding: .2em;
    transition: all .2s ease;
}

.choices::-webkit-scrollbar {
    display: none;
}

.setter-text {
    width: 100%;
    font-size: .9em;
    display: flex;
    justify-content: center;
    transition: all .2s ease;
}

.setter-button {
    overflow: hidden;
    cursor: pointer;
    justify-content: flex-start;
    transition: all .2s ease;
}

.choice {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    padding-inline: .2em;
    color: inherit;
    background: rgb(240, 240, 240, .4);
    cursor: pointer;
    width: 7em;
    transition: all .2s ease;
}

.color-choice {
    width: 100%;
}

.choice:hover {
    color: beige;
    width: 10em;
    background: rgb(68, 68, 68, 1);
    text-shadow: 0px 0px .2em rgb(255, 255, 255, .5);
    box-shadow: 0px 0px .2em rgb(68, 68, 68);
}

.color-choice:hover {
    width: 10em;
}

.choice-active {
    color: beige;
    background: rgb(68, 68, 68, 1);
    text-shadow: 0px 0px .2em rgb(255, 255, 255, .5);
    box-shadow: 0px 0px .2em rgb(68, 68, 68);
}

.ordering-icon {
    height: 100%;
    opacity: .75;
}

.price-interval {
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
}

.filters-line {
    display: flex;
    width: 100%;
    gap: .2em;
}

datalist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: rgb(0, 0, 0, .75);
    height: 1em;
    width: 1.2em;
    border-radius: .6em;
    cursor: pointer;
    z-index: 4;
    box-shadow: 0px 0px .5em rgb(64, 64, 64, 1);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 1em;
    cursor: pointer;
    border-radius: 1em;
}

.price-input {
    -webkit-appearance: none !important;
    height: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255, .3);
    border-radius: 1em;
}

option {
    padding: 0;
    width: min-content;
}

.prices-value {
    display: none;
}

@media (max-width: 730px) {
    .prices-datalist {
        display: none;
    }
    .prices-value {
        display: flex;
    }
}

