.paginator {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0vh;
    height: 100vh;
    width: 7vw;
    opacity: 0;
    transition: opacity .2s cubic-bezier(0.22, 0.61, 0.36, .5);
}

.paginator:hover {
    opacity: 1;
}

.right {
    right: -3.5vw;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
}

.left {
    left: -3.5vw;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
}

.arrow {
    position: absolute;
    height: 8%;
    filter: drop-shadow(4px 0px 10px rgb(0, 0, 0, .75));
    transition: left .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.left-arrow {
    left: 3.5vw;
    transform: scale(-1, -1);
}

.right-arrow {
    left: 0vw;
}

.paginator:hover .left-arrow {
    left: 5vw;
}

.paginator:hover .right-arrow {
    left: -5vw;
}


@media(aspect-ratio <= 18/10) {
    .paginator {
	position: fixed;
    	top: auto;
    	bottom: 42vh;
    	backdrop-filter: blur(3px);
    	opacity: 1;
    	height: 8vh;
    	width: auto;
    	align-items: unset;
    	aspect-ratio: 1/1;
    	border-radius: 7.5vh;
    	background: azure;
    }

    .right {
        right: 5vw;
    }

    .left {
        left: 5vw;
    }

    .left-arrow {
        left: 0vw;
        transform: rotate(180deg);
    }

    .arrow {
	height: 50%;
    	margin: 25%;
    	filter: invert(.8);
    }

    .paginator:hover .left-arrow {
        left: 0vw;
    }

    .paginator:hover .right-arrow {
        left: 0vw;
    }

    .page-indicator-wrapper {
        top: 80vh!important;
    }
}

.page-indicator-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 0px;
    right: 50%;
    top: 90vh;
}

@-webkit-keyframes indicator-disappearance {
    0%{opacity:1}
    25%{opacity:.75}
    50%{opacity:.5}
    75%{opacity:.25}
    100%{opacity:0}
}
@keyframes indicator-disappearance {
    0%{opacity:1}
    25%{opacity:.75}
    50%{opacity:.5}
    75%{opacity:.25}
    100%{opacity:0}
}

@-webkit-keyframes indicator-transition {
    0%{width:.5em}
    50%{width:.7em}
    75%{width:.7.5em}
    100%{width:.8em}
}
@keyframes indicator-transition {
    0%{width:.5em}
    50%{width:.7em}
    75%{width:.7.5em}
    100%{width:.8em}
}

.page-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
    height: 1em;
    background: rgb(255, 255, 255, .5);
    backdrop-filter: blur(1px);
    box-shadow: 0px 0px 5px rgb(128, 128, 128);
    border-radius: .6em;
    padding: .2em;
    width: fit-content;
    opacity: 1;
    animation: indicator-disappearance 1s cubic-bezier(0.4, 0, 1, 1);
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.indicator{
    height: 80%;
    background-color: rgb(250, 250, 250);
    border-radius: .5em;
    aspect-ratio: 1/1;
    opacity: .5;
}

.active {
    box-shadow: 0px 0px .5em white;
    background-color: white;
    opacity: 1;
    animation: indicator-transition .5s cubic-bezier(0.4, 0, 1, 1);
    animation-fill-mode: forwards;
}