.cards {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2em;
    gap: 2em;
    filter: grayscale(0%);
    transition: filter .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.card {
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
    height: min-content;
    aspect-ratio: 10/10;
    height: 100%;
    overflow: hidden;
    border: 0px;
    box-shadow: 0.5em 0.5em 1em rgb(182 182 182 / 60%);
    transition: box-shadow .2s cubic-bezier(0.22, 0.61, 0.36, 1), transform .2s ease-in-out;
}

.card-preview {
    height: 100%;
    width: auto;
    opacity: 1;
    filter: saturate(0.7);
    transition: opacity .2s;
}

.card-preview-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 95%;
    margin-block: 2.5%;
    align-items: center;
    align-items: baseline;
}

.card-specs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-price {
    display: contents;
    font-size: .9em;
    color: rgb(205 205 205);
    font-weight: 500;
}

.card-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0px;
    background: rgb(10, 10, 10);
    color: white;
    visibility: hidden;
    transform: translate(0px, 100%);
    transition: all .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.card:hover .card-content {
    transform: translate(0px, 0px);
    visibility: visible;
    transition: transform .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.card:hover .card-preview {
    opacity: .0;
    transition: opacity .0s .2s;
}

@media(hover: hover) {
    .card:hover {
        box-shadow: 0px 0px .5em black;
        background-color: black;
        transform: scale3d(1.1, 1.05, 1.1);
        transition: box-shadow .2s cubic-bezier(0.22, 0.61, 0.36, 1), background-color .0s .2s, transform .2s ease;
    }
}

@media(aspect-ratio <= 18/10) {
    .cards {
        grid-template-columns: repeat(3, 1fr)!important;
        grid-template-rows: repeat(3, 1fr)!important;
    }
    .card {
        align-items: baseline;
        aspect-ratio: auto;
        width: 100%!important;
        height: 100%!important;
        box-shadow: none;
    }

    .card:hover .card-content{
        transform: translate(50%, 0px);
        transition: none;
    }

    .card:hover {
        box-shadow: none;
        background-color: white;
        transition: none;
    }

    .card:hover .card-preview {
        opacity: 1;
        transition: none;
    }

    .card-preview-wrapper {
        width: 60%;
	margin-block: 1.5%;
    }

    .card-content {
        transform: translate(50%, 0px);
        visibility: visible;
        width: 40%;
        left: 40.8%;
        font-size: .8em;
        transition: none;
    }
}

@media(aspect-ratio <= 12/9) {
    .cards {
        grid-template-columns: repeat(2, 1fr)!important;
        grid-template-rows: repeat(4, 1fr)!important;
        gap: 1em;
    }

    .card-content {
        transform: translate(50%, 0px);
        visibility: visible;
        width: 43%;
        left: 35.5%;
        justify-content: space-between;
    }

    .card-preview-wrapper {
        width: 60%;
    }

    .products-count{
        width: 100%;
        height: 20%;
    }

    .card-price {
        font-size: 1.2em;
    }

    .card-specs {
        height: 100%;
        padding-inline: 0.2em;
        font-size: .9em;
        justify-content: center;
    }
}

@media(aspect-ratio <= 75/90) {
    .cards {
        grid-template-columns: repeat(1, 1fr)!important;
        height: auto;
        padding-inline: 1em;
        padding-top: 3em;
    }

    .card {
        height: 50vmin!important;
    }
}
