.idea
.coverage
.gitignore
.git
.idea

htmlcov
venv

**/.coverage
**/testsutils/
**/tests/


emarket/emarket/testsettings.py
emarket/media
emarket/static
emarket/.coverage

LICENSE

README.md

**/*.pyc
**/__pycache__