.idea
.coverage
.gitignore
.git
.env

emarket/htmlcov
venv

emarket/emarket/testsettings.py
emarket/media
emarket/static
emarket/.coverage

LICENSE
README.md

**/.coverage
**/testsutils/
**/tests/
**/*.pyc
**/__pycache__