@import "account.css";

.user-card-info {
    grid-template-rows: 1fr 1fr 1fr;
    height: 15vh;
}

.user-card-bg {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    background-size: cover!important;
    background-position: top!important;
    width: 100%;
    transition: all .2s ease;
}

.account-sections {
    width: inherit;
}

.user-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0px 0px .5em black;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.user-card-price {
    background: white;
    box-shadow: 0px 0px .5em white;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 70%;
    max-width: 20vw;
    height: 80%;
    z-index: 1;
}

.register-form {
    background-color: rgb(255, 255, 255, .1);
}

.user-card-delete-card {
    position: relative;
    display: flex;
    width: 70%;
    height: 80%;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: inherit;
    border: 0px;
}

.user-card-info {
    background: rgb(255, 255, 255, .7);
    box-shadow: 0px 0px .1em white;
}

.user-card-info {
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
}

.user-card-info-category {
    background: rgb(255, 255, 255, .7);
    box-shadow: 0px 0px .1em white;
}

.card-controls {
    overflow: hidden;
    color: black;
    max-width: 20vw;
    box-shadow: none;
    transition: box-shadow .2s ease;
}

.control-button {
    transform: none;
    height: 100%;
    border-radius: unset;
    transition: all .2s ease;
}

.card-views-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: .2em;
    left: .1em;
    width: 100%;
    height: min-content;
    padding-inline: .1em;
    text-shadow: none!important;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.user-cards {
    width: 115vh;
}

.card-views {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: .2em;
    background: rgb(128, 128, 128, .5);
    backdrop-filter: blur(.5em);
    color: black;
    cursor: pointer;
    z-index: 1;
    width: 3em;
    min-width: min-content;
    height: 1.5em;
    font-size: .8em;
    border-radius: .4em;
}

.card-footer {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-card {
    text-decoration: none;
    color: inherit;
    border-radius: unset;
    height: 100%;
    min-width: min-content;
    background: rgb(255, 255, 255);
    transition: all .2s ease;
}

.delete-card {
    background: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    min-width: mion-content;
    padding: 0px;
}

@media (hover: hover) {
    .user-card-info:hover .user-card-price {
        transform: translateY(150%);
    }

    .user-card-info:hover .static-price {
        transform: none;
    }

    .user-card-info:hover .user-card-title {
        transform: translateY(50%);
    }

    .user-card-info:hover .user-card-bg {
          filter: blur(.5em) saturate(0.6);
    }

    .edit-card:hover {
        color: rgb(176, 196, 222, .75);
        text-shadow: 0px 0px .5em rgb(176, 196, 222);
    }

    .delete-card:hover {
        color: rgb(255, 109, 106, .75);
        text-shadow: 0px 0px .5em rgb(255, 109, 106);
    }

    .user-card-info:hover .card-controls {
        box-shadow: 0px 0px .5em white;
    }
}

@media(aspect-ratio<=4/3) {
    .user-cards {
        width: auto;
    }
}

@media(aspect-ratio<=3/3) {
    .edit-card {
        background-color: rgb(176, 196, 222);
        box-shadow: none;
        border-radius: inherit;
    }
    .delete-card {
        background-color: rgb(255, 109, 106);
        box-shadow: none;
        border-radius: inherit;
    }
    .card-controls {
        gap: .5em;
        width: 90%!important;
        max-width: auto;
    }
    .user-card-delete-card {
        transform: none;
    }
    .user-card-price {
        transform: none;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .user-card-title {
        transform: none;
    }
    .user-cards {
        width: 90vw;
    }
}

@media(aspect-ratio<=565/800) {
    .long-account-body {
        margin-top: 5em;
    }
}

@media(aspect-ratio<415/800) {
    .long-account-body {
        margin-top: 25em;
    }
}

@media(aspect-ratio < 3/3) {
    .user-cards {
        grid-template-columns: 1fr!important;
    }
    .user-card-info {
        height: 7em;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .user-card-delete-card {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 2;
        max-width: unset;
        width: 80%;
    }
    .user-card-price {
        transform: none;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        max-width: unset;
        width: 90%;
    }
    .user-card-title {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .user-card-bg {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .long-account-body {
        margin-top: 46em;
    }
}
