@import "login.css";

.big {
    top: 13vh;
    height: auto;
    padding-bottom: 4em;
}

.account-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}

.account-info {
    color: white;
    width: auto;
    grid-template-rows: 1fr;
    text-align: center;
    z-index: 2;
    padding: .5em;
    backdrop-filter: blur(.4em);
    background: rgb(170, 170, 170, .4);
    transition: all .2s ease;
}

.profile-avatar {
    position: relative;
    z-index: 1;
    left: -10%;
    height: 60vh;
    max-width: 33em;
    border-radius: 2em;
    transition: all .2s ease;
}

.account-info-data {
    position: relative;
    left: 45%;
    bottom: 25vh;
    width: fit-content;
}

.profile-avatar:hover {
    transform: scale(1.05);
}

.account-info-string {
    text-align: center;
}

.account-sections {
    width: 100%;
    display: grid;
    overflow-y: visible;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.account-sections-wrapper {
    overflow-x: scroll;
    overflow-y: visible;
    z-index: 2;
}

.account-sections-wrapper-small {
    overflow-x: visible;
}

.account-sections-wrapper::-webkit-scrollbar {
    display: none;
}

.user-card-info {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: rgb(0, 0, 0, .1);
    width: 20vw;
    border-radius: .5em;
    overflow: hidden;
    box-shadow: 0px 0px .25em rgb(0, 0, 0, .1);
}

.user-cards {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
}

.user-card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255, .5);
    color: black;
    border-radius: inherit;
    transition: transform .2s ease;
}

.user-card-title {
    text-decoration: none;
    color: black;
    transform: translateY(50%);
    transition: transform .2s ease;
}

.section {
    text-align: center;
    color: white;
    text-decoration: none;
}

.section-underline {
    width: 3vw;
    position: relative;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    height: .2em;
    border-radius: .2em;
    background-color: white;
    transition: all .2s ease-in-out;
}

.section-text {
    font-style: inherit;
    white-space: nowrap;
    transition: all .2s ease-out;
}

.active-section i {
    width: 4vw;
    box-shadow: 0px 0px .5em white;
}

@media (hover: hover) {
    .user-card-info:hover .user-card-price {
        transform: translateX(0%);
    }

    .user-card-info:hover .user-card-title {
        transform: translateY(0%);
    }

    .section:hover .section-text {
        transform: translateY(-20%);
    }

    .section:hover .section-underline {
        width: 5vw;
        box-shadow: 0px 0px 1em white, 0px -.2em .5em white;
    }

    .section-underline:hover {
        width: 80%;
        box-shadow: 0px 0px 1em white, 0px -.2em .5em white;
    }

    .user-card-info:hover {
        text-shadow: none;
    }

    .account-info-string:hover {
        text-shadow: 0px 0px .1em white;
    }

    .profile-avatar:hover {
        transform: scale(1.05);
    }
}

@media (aspect-ratio < 1 / 1) {
    .section-underline {
        display: none;
    }
    .account-sections-wrapper {
        padding-block: .2em;
        background: rgb(33, 33, 33, .1);
        border-radius: .3em;
    }
    .account-sections {
        gap: .2em;
        padding-inline: 0.2em;
    }
    .active-section {
        background: rgb(200, 200, 200, .4);
        border-radius: .2em;
    }
}

@media(aspect-ratio < 75/90) {
    .user-cards {
        grid-template-columns: 1fr 1fr;
    }
    .user-card-info {
        width: 40vw;
    }
    .account-sections {
        gap: .5em;
    }
}

@media(aspect-ratio < 46/80) {
    .form {
        width: 100%;
        overflow: hidden;
    }
    .account-info {
        width: 95vw;
    }
    .account-sections-wrapper {
        width: 100vw;
    }
}