@import "login.css";

.register-form {
    width: auto;
    gap: .5em;
    overflow: visible;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.data-input {
    width: 100%;
}

input {
    width: 43%
}
