@import "account.css";

.notifications-body-long {
    margin-top: 10em;
    position: absolute;
    top: -16vh;
}

.notification {
    background: rgb(33, 33, 33, .1);
    border-radius: .5em;
    width: 100%;
    transition: all .2s ease-out;
}

.notification:hover {
    transform: scale(101.5%);
}

.notification-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: .2em;
    border-radius: inherit;
}

.delete-notification {
    background: lightcoral;
    color: white;
    border: 0px;
    transition: all .2s ease;
}

.notification-title-start {
    display: flex;
    gap: .2em;
    align-items: center;
    height: 1.5em;
}

.theme-marker {
    font-size: .9em;
    line-height: 1.1em;
    padding-inline: .2em;
    margin-bottom: .2em;
    margin-top: .2em;
    border-radius: .5em;
    height: 1.2em;
    transition: all .2s ease;
}

.details-view-type-change-button {
    background: rgb(255, 255, 255, .1);
    border: 0px;
    display: flex;
    width: 1.2em;
    height: 1.2em;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    box-shadow: none!important;
}

.sender-icon {
    text-decoration: none;
    width: min-content;
    background: cornflowerblue;
}

.sender-icon:hover {
    box-shadow: 0px 0px .5em cornflowerblue!important;
}

.sender-icon:hover img {
    transform: scale(.9);
}

.change-display-button-img {
    height: .8em;
    width: .8em;
    transition: all .2s ease-in-out;
}

.delete-notification:hover {
    box-shadow: 0px 0px .5em lightcoral;
}

.notification-details {
    background: rgb(33, 33, 33, .1);
    border-radius: .5em;
    overflow: hidden;
    padding: .5em;
    font-weight: 100;
    font-family: system-ui;
}

.notification-full-text {
    overflow: hidden;
    text-align: center;
    padding-inline: .2em;
}

.notification-date {
    position: relative;
    right: 0px;
    font-size: .75em;
}

@media (aspect-ratio<52/100) {
    .notification-title {
        flex-direction: column;
    }
}

@media (aspect-ratio<835/1000) {
    .notifications-body-long {
        margin-top: 13em;
    }
}

@media (aspect-ratio<776/1000) {
    .notifications-body-long {
        margin-top: 13em;
    }
}

@media (aspect-ratio<1/2) {
    .notifications-body-long {
        margin-top: 15em;
    }
}

@media (aspect-ratio<45/100) {
    .notifications-body-long {
        margin-top: 18em;
    }
}

@media (aspect-ratio<39/100) {
    .notifications-body-long {
        margin-top: 22em;
    }
}
