@import "../products/add-product.css";

.password-reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

#id_email {
    width: 100%;
}

.verification-info {
    gap: 0em;
}

.register-form {
    overflow-x: scroll;
}

.submit-button {
    width: max-content;
    padding-inline: .2em;
}

@media (max-width: 575px) and (aspect-ratio < 1 / 1) {
    .register-form {
        min-width: 90%;
    }
}

@media (max-width: 775px) and (aspect-ratio < 1 / 1) {
    .data-input {
        flex-direction: row;
        gap: .5em;
        width: min-content;
        margin: 0px;
    }
    input {
        width: 10em!important;
    }
}