.main-header-wrapper {
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 40px;
    height: 0px;
    overflow: hidden;
    z-index: 2;
}

.header-logo {
    background: transparent!important;
    box-shadow: none!important;
}

.main-header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding-inline: .2em;
    height: 6vh;
    backdrop-filter: blur(.3em);
    justify-content: center;
    top: 1vh;
    overflow: hidden;
    border-radius: .2em;
    width: 35vw;
    transition: all .2s ease;
}

.button-icon {
    height: .8em;
    aspect-ratio: 1/1;
    margin-right: .2em;
    filter: contrast(.8);
}

.main-header:hover {
    box-shadow: 0px 0px .5em rgb(68, 68, 68, .5);
}

.header-nav {
    display: flex;
    text-align: center;
    vertical-align: middle;
    gap: .2em;
    width: inherit;
    height: 6vh;
}

.header-nav-button {
    font-weight: 900;
    margin: auto auto auto;
    height: 5vh;
    font-size: 1.75vh;
    line-height: 1.75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border: 0px;
    width: 50%;
    min-width: fit-content;
    overflow: hidden;
    color: black;
    text-decoration: none;
    width: 100%;
    background: rgb(255, 255, 255, .3);
    border-radius: .2em;
    transition: all .2s;
}

.header-nav-button:hover {
    background: rgb(255, 255, 255, .6);
    box-shadow: 0px 0px 2em rgb(64, 64, 64);
    transition: all .2s;
}

.square-button {
    width: auto;
    aspect-ratio: 1 / 1;
}

@media (width<857px) and (device-aspect-ratio < 1/1) {
    .main-header {
        width: 300px!important;
    }
}


@media(aspect-ratio < 12/10) {
    .main-header {
        border-radius: 0px!important;
        width: 100%!important;
        top: 0px!important;
    }
    .header-logo {
        display: none;
    }
}
