@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=30123');

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.page-content  {
    margin: 0px;
    display: flow-root;
    font-size: 2.5vh!important;
    font-family: 'SF Pro Display', sans-serif;
    user-select: none;
    height: 100vh;
}

.page-content::-webkit-scrollbar {
    display: none;
}

.static-bg  {
    background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.small-text {
    font-size: .7em;
}

::selection {
    color: white;
    background: rgb(68, 68, 68, .25);
    border-radius: .2em;
}

::-moz-selection {
    color: white;
    background: rgb(68, 68, 68, .25);
    border-radius: .2em;
}