@import "login.css";

.big {
    top: 13vh;
    height: auto;
    padding-bottom: 4em;
}

.account-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}

.account-info {
    color: white;
    width: auto;
    grid-template-rows: 1fr;
}

.account-info-string {
    text-align: center;
}

.account-info-string:hover {
    text-shadow: 0px 0px .1em white;
}

.account-sections {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.user-card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: rgb(0, 0, 0, .1);
    border-radius: .5em;
    overflow: hidden;
    box-shadow: 0px 0px .25em rgb(0, 0, 0, .1);
}

.one-row {
    grid-template-columns: 1fr!important;
}

.user-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.user-card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    background: rgb(255, 255, 255, .5);
    color: black;
    border-radius: inherit;
    transition: transform .1s ease-in-out;
}

.user-card-title {
    transform: translateY(50%);
    transition: transform .1s ease-in-out;
}

.user-card-info:hover {
    text-shadow: none;
}

.section {
    text-align: center;
    color: white;
    text-decoration: none;
}

.section-underline {
    width: 20%;
    position: relative;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    height: .2em;
    border-radius: .2em;
    background-color: white;
    transition: all .2s ease-in-out;
}

.section-text {
    font-style: inherit;
    white-space: nowrap;
    transition: all .2s ease-out;
}

.active {
    width: 30%;
    box-shadow: 0px 0px .5em white;
}

.user-card-info:hover .user-card-price {
    transform: translateX(0%);
}

.user-card-info:hover .user-card-title {
    transform: translateY(0%);
}

.section:hover .section-text {
    transform: translateY(-30%);
}

.section:hover .section-underline {
    width: 80%;
    box-shadow: 0px 0px 1em white, 0px -.2em .5em white;
}

.section-underline:hover {
    width: 80%;
    box-shadow: 0px 0px 1em white, 0px -.2em .5em white;
}


@media(aspect-ratio < 75/90) {
    .user-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media(aspect-ratio < 46/80) {
    .form {
        width: 100%;
    }
}


@media(height > 100%) {
    .page-content {
        background: red!important;
    }
}
