{% load static %}

<link rel="stylesheet" href="{% static 'css/notification.css' %}">

<div class="full-screen-warn-canvas" id="emarket-notification-body">
    <div class="full-screen-warn-canvas-bg"></div>
    <div class="canvas-content" id="floated-element">
        <div class="notification-message">
            <div class="highlighted-text-main">
                <span class="highlighted-text-main-first-part">THANK</span> <span
                    class="highlighted-text-main-second-part">YOU!</span>
            </div>
            <div style="padding-top: 1em;">
                I'm the author of <span>E-Market,</span>
                    I'm 16 years old.
                <span>This site is my work for the portfolio</span>, therefore, not
                    all the necessary tools may be available, if it's not difficult for you,
                    <span>send your opinion about the site,
                        about its functionality, shortcomings</span> to me in
                <span>telegram -
                    <a href="https://t.me//VictorMerinov">@VictorMerinov</a>
                </span>
                or send me email
                <em>(all info</em>
                <span><em><a href="{% url 'about-emarket' %}">HERE</a></em></span>)<br><br>
                <span style="font-weight: bolder">Thanks for using the market, FURTHER - MORE!</span>
            </div>
        </div>
        <button class="emarket-notified-button"
                onclick="sendUserNotified('{{ request|get_user_ip_from_request }}');"
                onmouseover="changeNotificationBackground();"
                onmouseleave="changeNotificationBackground();">
            I like it!
        </button>
    </div>
</div>

<script>
    class BaseNotificationElement {
        #isActive = false;

        reverseStyle() {
            this.#isActive = !this.#isActive;
        }

        isActive() {
            return this.#isActive;
        }
    }

    class NotificationButton extends BaseNotificationElement {
        #button;

        constructor(button) {
            super();
            this.#button = button;
        }

        reverseStyle() {
            switch(super.isActive()) {
                case false:
                    this.#button.style.background = "#2E2E2E";
                    break;
                case true:
                    this.#button.style = "";
                    break;
            };
            super.reverseStyle();
        }
    }

    const notification = document.getElementsByClassName('canvas-content')[0];
    const notificationButton = new NotificationButton(
        document.getElementsByClassName('emarket-notified-button')[0]
    );

    let notificationBackgroundActive = false;

    function changeNotificationBackground() {
        switch(notificationBackgroundActive) {
            case true:
                notification.style = '';
                document.documentElement.style.cssText = "--highlight-color: rgba(255,106,103,1);--regular-text-color: beige;";
                break;
            case false:
                notification.style.background = 'rgba(255,106,103,1)';
                document.documentElement.style.cssText = "--highlight-color: #2E2E2E;--regular-text-color: #2E2E2E;";
                break;
        }

        notificationButton.reverseStyle()
        notificationBackgroundActive = !notificationBackgroundActive;
    }
</script>
<script type="text/javascript" src="{% static 'js\emarket-extra-notification.js' %}"></script>
