{% extends 'main-header.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/products/base-header.css' %}" type="text/css">
{% endblock %}

{% block navigation %}
    {% if request.user.id %}
        <a class="header-nav-button" href="{% url 'account-info' user.id %}">
            <img src="{% static 'img/account-icon.png' %}" class="button-icon">account
        </a>
    {% else %}
        <a class="header-nav-button" href="{% url 'register' %}">registrate</a>
    {% endif %}
    <a class="header-nav-button" href="{% url 'home' %}">
        <img src="{% static 'img/home.png' %}" class="button-icon"> home
    </a>
{% endblock %}
