{% load static %}

<link rel="stylesheet" href="{% static 'css\base-header.css' %}" type="text/css">
{% block head %}
{% endblock %}

<header class="main-header-wrapper">
    <div class="main-header" style="{% if filters and items %}height: 16.9vh;{% else %}height: 6vh;{% endif %}">
        <nav class="header-nav">
            <a class="header-nav-button square-button header-logo" href="{% url 'about-emarket' %}">
                <img src="{% static 'img/emarket-icon.png' %}" style="height: 80%;aspect-ratio: 1/1;">
            </a>
            {% block navigation %}
            {% if request.user.is_authenticated %}
                <a
                class="header-nav-button"
                href="{% url 'account-info' user.id %}">
                    <img src="{% static 'img/account-icon.png' %}" class="button-icon">account
                </a>
                <a class="header-nav-button" href="{% url 'add-product' %}">
                    <img src="{% static 'img/add.png' %}" class="button-icon">add product
                </a>
            {% else %}
                <a
                class="header-nav-button"
                href="{% url 'register' %}">
                    <img src="{% static 'img/signup.png' %}"
                         class="button-icon">registrate
                </a>
                <a class="header-nav-button"
                   href="{% url 'login' %}">
                    <img src="{% static 'img/logout.png' %}" class="button-icon">login
                </a>
            {% endif %}
            {% block extension-navigation %}
            {% endblock %}
            {% endblock %}
        </nav>
        {% block extension-window %}
        {% endblock %}
    </div>
</header>
{% block scripts %}
{% endblock %}