<!DOCTYPE html>
{% extends 'layout.html' %}
{% load static %}

{% block head %}
    {% if items %}
        <link rel="stylesheet" href="{% static 'css\products\products-listing.css' %}" type="text/css">
    {% else %}
        <link rel="stylesheet" href="{% static 'css\products\warns.css' %}" type="text/css">
    {% endif %}
{% endblock %}

{% block title %}
    products
{% endblock %}

{% block header %}
    {% if items_is == "cards" %}
        {% include 'products/filters-header.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}
{% endblock %}

{% block rootcontent %}
    {% if items %}
        {% if items.count < 3 %}
            <div class="cards" style="height: 100vmin;">
        {% else %}
            <div class="cards">
        {% endif %}
            {% for item in items %}
                {% if items_is == "categories" %}
                    {% include "products/cards-templates/category-card.html" %}
                {% elif items_is == "cards" %}
                    {% include "products/cards-templates/product-card.html" %}
                {% endif %}
            {% endfor %}
        </div>
        {% include 'products/paginator.html' %}
    {% else %}
        <div class="empty_warn_wrapper ">
            <div class="empty_warn">
                This category is empty!
            </div>
        </div>
    {% endif %}
    <script type="text/javascript" src="{% static 'js\products\interval-setter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js\products\products-listing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js\products\filters-window.js' %}"></script>
{% endblock %}
