<!DOCTYPE html>
{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\products\product-details.css' %}" type="text/css">
<style>
    .color-mark:hover {
        box-shadow: 0px 0px 1em {{ item_info.color }}!important;
    }
</style>
{% endblock %}

{% block title %}
{{ item_info.readable_title }}
{% endblock %}

{% block header %}
    {% include 'main-header.html' %}
{% endblock %}

{% block rootcontent %}
    <div class="page-bg">
            <img src="../../../media/{{ item_info.photo.name }}" class="card-photo">
            <div class="card-info card-info-shrink" id="floated-element">
                <div class="prod-info prod-info-shrink">
                    <header class="card-title">
                        <span class="card-product-title">
                            <span
                                style="background-color: {{ item_info.color }};box-shadow: 0px 0px .5em {{ item_info.color }}"
                                class="color-mark"
                                title="item color">
                            </span>
                            <span class="card-info-splitter"></span>
                            <span style="display: flex;flex-direction: column;align-items: flex-start;">
                                {{ item_info.readable_title }}<br>
                                <span style="font-size: .8em;color: rgb(240, 240, 240);">
                                    {{ stortage }}GB
                                </span>
                                {% if viewer_is_author %}
                                <span
                                    style="font-size: .8em;background: rgb(150, 150, 150, .5);border-radius: .2em;padding-inline: .2em;">
                                    {{ item_info.products_count }} items
                                </span>
                                {% endif %}
                            </span>
                        </span>
                        <a href="{% url 'account-info' item_info.author.id %}"
                           style="text-decoration: none;font-size: .75em;color: rgb(230, 230, 230)">
                            from {{ item_info.author }}
                        </a>
                    </header>
                </div>
                <div class="purchase purchase-on-shrink">
                    {% if not viewer_is_author %}
                    <form class="save-form" method="POST"
                          action="{% url 'save-product' item_info.id %}">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <button type="submit" class="button-save">
                                add to basket
                        </button>
                        {% elif not user.is_authenticated %}
                            <button type="submit" class="button-save small-text">
                                login if you like this
                            </button>
                        {% endif %}
                    {% else %}
                        <div class="price">{{views}} views</div>
                    {% endif %}
                    </form>
                    <div class="price">{{ item_info.price }} $</div>
                    <button class="expand-card-info" onclick="expandProductInfo()">
                        <img src="{% static 'img/products/arrow.png' %}"
                             id="expand-button-img"
                             class="expand-button-img">
                    </button>
                </div>
            </div>
    </div>
{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="{% static 'js\products\expand-product-info.js' %}"></script>
        <script type="text/javascript" src="{% static 'js\products\products-listing.js' %}"></script>
{% endblock %}