<a class="card"
   style="{% if items.count < 4 %}height: 50%;{% else %}height: 50%;{% endif %}{% if items.count == 1 %}width: 25%;{% endif %}"
   href="{% url 'product-card' item.id %}">
    <div class="card-hover-field" id="{{ idx }}"></div>
    <div class="card-preview-wrapper">
        <img src="../../../media/{{ item.photo }}" class="card-preview">
    </div>
    <div class="card-content">
        <div class="card-specs">
            <b>{{ item.readable_title }}</b>
            <b>{{ item.price }}$</b>
            <span>{{ item.author__username }}</span>
            <span
                    style="background: {{ item.color }};width: .8em;height: .8em;border-radius: .2em;display: block;margin-top: 2%;">
            </span>
        </div>
    </div>
</a>
