{% extends 'users/account.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'css\purchasing\basket.css' %}"
          type="text/css"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}
{{ user.username }}'s shopping basket
{% endblock %}

{% block header %}
    {% include 'users/account-header.html' %}
{% endblock %}

{% block profile-content %}
    {% if products %}
        <div class="user-cards">
        {% for product in products %}
            <div class="account-info-string user-card-info"
               style="color: black;text-decoration: none;"
               title="{{ item.readable_title }}">
                <div class="user-card-bg">
                    <img src="{% static product.product.photo.name|get_media_path %}" class="card-bg">
                </div>
                <a class="user-card-title" href="{% url 'product-card' product.product.id %}">
                    {{ product.product.readable_title }}
                </a>
                <div class="user-card-price">{{ product.product.price }}$</div>
                <form class="user-card-delete" method="POST" action="{% url 'delete-basket-product' product.id %}">
                    {% csrf_token %}
                    <button class="user-card-delete" type="submit" value="DELETE">
                        delete
                    </button>
                </form>
                <form class="button-buy-product-form" method="POST"
                      action="{% url 'buy-product' product.id %}">
                    {% csrf_token %}
                    <button type="submit" value="BUY" class="button-buy-product">
                        buy
                    </button>
                </form>
            </div>
        {% endfor %}
        </div>
    {% else %}
        your shopping basket is empty
    {% endif %}
{% endblock %}
