<!DOCTYPE html>
{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css\home\home-style.css' %}" type="text/css">
{% endblock %}

{% block title %}
    home
{% endblock %}

{% block header %}
    {% include 'main-header.html' %}
{% endblock %}

{% block rootcontent %}
<div class="page-categories" id="categories">
    {% for categoriesbatch in categories|get_categories_batches %}
        <div class="categories-cards">
                    {% for category in categoriesbatch %}
                    <a
                        class="category-card {% cycle 'frs' 'sec' 'thr' 'fou' 'fif' 'six' 'sev' 'eig' 'nin' %}-card bg"
                        style="background: url('media/{{ category.photo }}');filter: grayscale(100%);"
                        onmouseover="onhover(this)"
                        onmouseout="onunhover(this)"
                        id="{{ category.title }}"
                        href="{% url 'category-products' category.title %}">
                        <div class="category-card-onhover-filter">
                            {{ category.title|upper }}
                        </div>
                    </a>
                {% endfor %}
        </div>
    {% endfor %}
</div>
<footer style="text-align: center;">
    footer!
</footer>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js\home\page-categories.js' %}"></script>
{% endblock %}