{% extends 'main-header.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css\users\account-header.css' %}" type="text/css">
{% endblock %}

{% block navigation %}
    <a class="header-nav-button" href="{% url 'home' %}">
        <img src="{% static 'img/home.png' %}" class="button-icon"> home
    </a>
    <a class="header-nav-button" href="{% url 'logout' %}">
        <img src="{% static 'img/logout.png' %}" style="height: .8em;aspect-ratio: 1/1;margin-right: .2em;">sign out
    </a>
    <a class="header-nav-button" href="{% url 'add-product' %}">
        <img src="{% static 'img/add.png' %}" class="button-icon">add product
    </a>
{% endblock %}
