{% extends 'users/account.html' %}
{% load static %}
{% load socialaccount %}

{% block profile-content %}
    <div style="display: flex;flex-direction: column;gap: .2em;">
        <div class="account-info-string"
             style="display: {% if not error_field == 'username' %}inline-flex{% else %}none{% endif %};justify-content: center;align-items: center;"
             id="username-field">
        <img src="{% static 'img/account-icon.png' %}"
             style="height: .7em;aspect-ratio: 1/1;margin-right: .2em;filter: invert(1);">{{ user.user.username }}{{ user.username }}
            {% if user.socialaccount_set %}
                {% for provider in user.socialaccount_set.all %}
                    <a class="socialaccount_provider {{provider.provider.id}}"
                    style="height: auto;display: flex;width: min-content;align-items: center;margin-left: .2em;">
                        <img
                                src="{% if provider.provider == 'vk' %}{% static 'img/users/vk-logo.png' %}{% elif provider.provider == 'Google' %}{% static 'img/users/google-logo.png' %}{% endif %}"
                                class="provider-icon">
                    </a>
                {% endfor %}
            {% endif %}
        {% if is_self_account %}
            <a
                onclick="expandInput(this)"
                id="username-input-show"
                style="display: flex;align-items: center;justify-content: center;cursor: pointer;">
            <img
                src="{% static 'img/users/change.png' %}"
                class="change-icon">
            </a>
        {% endif %}
        </div>
        {% include 'users/change-account-field-data.html' with field_name='username' form=change_username_form %}
    </div>
    <div style="display: flex;flex-direction: column;gap: .2em;">
        <div class="account-info-string"
             style="display: {% if not error_field == 'email' %}flex{% else %}none{% endif %};flex-direction: row;align-items: center;justify-content: center;"
             id="email-field">
            <img src="{% static 'img/email.png' %}"
             style="height: .7em;aspect-ratio: 1/1;margin-right: .2em;filter: invert(1);">{{ user.user.email }}{{ user.email }}
            {% if is_self_account and not user.socialaccount_set.all.0 %}
            <a
                onclick="expandInput(this)"
                id="email-input-show">{{user.socialaccount_set.all.0}}
            <img
                src="{% static 'img/users/change.png' %}"
                class="change-icon"
                style="display: flex;align-items: center;justify-content: center;cursor: pointer;">
            </a>{% endif %}
        </div>
        {% include 'users/change-account-field-data.html' with field_name='email' form=change_email_form %}
    </div>
    {% if is_self_account and not user.socialaccount_set.all.0 %}
        <div class="account-info-string change-profile-photo-string">
            {% include 'users/change-profile-photo.html' %}
        </div>
        <div class="account-info-string profile-controls">
            <a class="profile-control-button" href="{% url 'about-emarket' %}">
                <img src="{% static 'img/users/about.png' %}"
                     style="height: 1em;width: 1em;margin-bottom: .1em;filter: contrast(.7);margin-right: 0.1em;">about
            </a>
            <a class="profile-control-button" href="{% url 'account_change_password' %}">
                <img src="{% static 'img/users/password-icon.png' %}"
                     style="height: 1em;width: 1em;margin-bottom: .2em;filter: contrast(.75);">change password
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js\users\change-account-username.js' %}"></script>
    <script type="text/javascript" src="{% static 'js\users\upload-photo.js' %}"></script>
{% endblock %}
