{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\users\change-password.css' %}" type="text/css"
      xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}
change password
{% endblock %}

{% block header %}
{% include 'base-header.html' %}
{% endblock %}

{% load account socialaccount %}
{% load i18n %}

{% block rootcontent %}
<div class="form">
    {% if token_fail %}
    {% else %}
        <form method="post" class="register-form {% if form.non_field_errors %}errors{%else%}{%endif%}"
          action="{{ action_url }}" id="floated-element">
         {% csrf_token %}
        <div style="width: 100%;text-align: center;display: flex;justify-content: center;gap: .5em;">
            <span style="font-size: 1.5em;font-family: sans-serif;font-weight: 700;">CHANGE PASSWORD</span>
        </div>
        {% for field in form %}
            <p class="data-input">
                <label for="{{ field.id_for_label }}">
                    {{ field.label|lower }}
                </label>
                {{ field }}
                {% include 'field-error.html' %}
            </p>
        {% endfor %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        <div style="display: flex;justify-content: center;gap: .5em;">
            <button class="submit-button" type="submit">change</button>
            <div class="submit-button sign-in-issue" id="issues-button" style="width: 1.6em;">
                <span style="padding-inline: .54em;">?</span>
                <div class="sign-in-issues"
                     style="width: 0px;font-size: 0em;;"
                       id="issues">
                    <a class=""
                       style="white-space: nowrap;font-size: .9em;text-decoration: none;color: white;"
                       href="{% url 'account_reset_password' %}">
                        forgot password
                    </a>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</div>
{% include 'small-screen-field-error.html' %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js\users\login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js\users\warns.js' %}"></script>
    <script type="text/javascript" src="{% static 'js\users\issues-window.js' %}"></script>
{% endblock %}