{% extends 'users/account.html' %}
{% load static %}

{% block account-title %}
{{ user.username }}'s notifications
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\users\notifications.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
<style>
    {% for theme_name in available_themes %}
        .{{ theme_name }}-marker:hover {
            box-shadow: 0px 0px .5em {% cycle 'lightblue' 'darkseagreen' %};
        }
    {% endfor %}
</style>
{% endblock %}

{% block profile-content %}
        {% if notifications %}
            {% for idx, notification in notifications|enumerate_ %}
                <div class="notification">
                    <div class="notification-title" id="notification-title-{{ idx }}">
                         <div class="notification-title-start">
                            <span class="theme-marker {{ notification.theme }}-marker"
                                  id="theme-marker-{{ idx }}"
                                  style="background: {% if notification.theme == 'pur' %}darkseagreen{% elif notification.theme == 'inf' %}lightslategrey{% endif %}">
                                {{ notification.theme|get_title_theme }}
                            </span>
                            <form method="post" action="{% url 'account-notification-delete' notification.id %}">
                                {% csrf_token %}
                                <button type="submit" class="theme-marker delete-notification">delete</button>
                                <span class="somewere-span"></span>
                            </form>
                             {% if notification.theme != 'inf' %}
                                 <a class="theme-marker delete-notification sender-icon"
                                    title="{{notification.sender}}"
                                    href="{% url 'account-info' notification.sender.id %}">
                                     <img src="{% static 'img/account-icon.png' %}"
                                          style="height: .8em;aspect-ratio: 1/1;filter: invert(1);transition: all .2s ease;">
                                 </a>
                             {% endif %}
                             <button class="theme-marker details-view-type-change-button"
                                     onclick="changeNotificationDetails(event, {{ idx }})">
                                <img src="{% static 'img\products\arrow.png' %}"
                                     class="change-display-button-img"
                                     id="change-display-button-img-{{ idx }}"
                                     style="transform: rotate(90deg);">
                             </button>
                         </div>
                        <span class="notification-date" id="notification-date-{{ idx }}">{{ notification.time }}</span>
                    </div>
                    <div class="notification-details" id="notification-{{ idx }}" style="height: 0px;padding: 0px;">
                        <div class="notification-full-text" id="notification-full-text-{{ idx }}">
                            {% for line in notification.text|wrap:60 %}
                                {{ line }}<br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            there are no notifications yet
        {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js\users\notifications.js' %}"></script>
{% endblock %}