{% extends 'warning.html' %}
{% load static %}

{% load i18n %}
{% load account %}

{% block title %}
reset password
{% endblock %}

{% block additional-head %}
<link rel="stylesheet"
      href="{% static 'css\users\password-reset-anonymous.css' %}"
      type="text/css"
      xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block warn-title %}
RESET
{% endblock %}
{% block warn-title-highlighted %}
PASSWORD
{% endblock %}

{% block warn-info %}
    <form method="POST" action="{% url 'account_reset_password' %}" class="password-reset-form">
        {% csrf_token %}
        <div class="data-input">
            <label for="id_email">email</label>
            <input type="email" name="email" autocomplete="email" required id="id_email">
        </div>

        <button class="submit-button" type="submit">send mail with link</button>
    </form>
{% endblock %}

{% block additional-warn-info %}
<span style="color: rgb(68, 68, 68);font-size: .8em;">
    please contact us if you have any trouble resetting your password
</span>
{% endblock %}