{% load static %}

<link rel="stylesheet" href="{% static 'css\base-header.css' %}" type="text/css">
{% block head %}
{% endblock %}

<header class="main-header-wrapper">
    <div class="main-header" style="{% if filters %}height: 14vh;{% else %}height: 7vh;{% endif %}">
        <nav class="header-nav">
            <button class="header-nav-button">
                <a style="text-transform: none">account</a>
            </button>
            <button class="header-nav-button">
                <a style="text-transform: none">create</a>
            </button>
            {% block navigation %}
            {% endblock %}
        </nav>
        {% block extension-window %}
        {% endblock %}
    </div>
</header>