{% load static %}

<link rel="stylesheet" href="{% static 'css\base-header.css' %}" type="text/css">
{% block head %}
{% endblock %}

<header class="main-header-wrapper">
    <div class="main-header" style="{% if filters %}height: 14vh;{% else %}height: 7vh;{% endif %}">
        <nav class="header-nav">
            <a class="header-nav-button square-button" href="{{ request.META.HTTP_REFERER|escape }}">B</a>
            {% block navigation %}
            {% if request.user.is_authenticated %}
                <a
                class="header-nav-button"
                href="{% url 'account' user.id %}">
                    account
                </a>
                <a class="header-nav-button" href="{% url 'add-category' %}">add category</a>
                <a class="header-nav-button" href="{% url 'add-card' %}">add product</a>
            {% else %}
                <a
                class="header-nav-button"
                href="{% url 'register' %}">
                    registrate
                </a>
                <a class="header-nav-button"
                   href="{% url 'login' %}">
                    login
                </a>
            {% endif %}
            {% block extension-navigation %}
            {% endblock %}
            {% endblock %}
        </nav>
        {% block extension-window %}
        {% endblock %}
    </div>
</header>
