.header-filters {
    width: auto;
    aspect-ratio: 1 / 1;
}

.header-filter {
    display: flex;
    aspect-ratio: 2 / 1;
    margin: 0px;
    justify-content: center;
}

.header-filter:hover {
    box-shadow: 0px 0px 2em rgb(64 64 64);
}

.filters {
    width: 100%;
    gap: .2em;
    height: 63%;
}

.ordering-icon {
    height: 100%;
    opacity: .75;
}

.price-interval {
    display: flex;
    padding-inline: 1em;
    flex-direction: column;
    width: 100%;
}

datalist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: rgb(0, 0, 0, .75);
    height: 1em;
    width: 1.2em;
    border-radius: .6em;
    box-shadow: 0px 0px .5em rgb(64, 64, 64, 1);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 1em;
    border-radius: 1em;
}

.price-input {
    -webkit-appearance: none !important;
    height: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255, .3);
    border-radius: 1em;
}

option {
    padding: 0;
    width: min-content;
}
