<a class="card"
   style="{% if items.count < 4 %}height: 50%;{% else %}height: 50%;{% endif %}{% if items.count == 1 %}margin-inline: auto;width: 50%;{% endif %}"
   href="{% url 'category-products' item.title|spaces_to_dashes %}?{{ url_args }}">
    <div class="card-preview-wrapper">
        <img src="../../../media/{{ item.photo }}" class="card-preview">
    </div>
    <div class="card-content">
        <div class="card-specs">
            <b>{{ item.title|dashes_to_spaces }}</b>
            ~<b style="display: contents;">{{ item.price|round_:2 }}$</b>
        </div>
        <span class="products-count">
            {{ item.count_products_in }} item{% if item.count_products_in > 1 %}s{% endif %}
        </span>
    </div>
</a>
