<a class="card"
   style="{% if items.count < 5 %}height: 50%;{% else %}height: 100%;{% endif %}{% if items.count == 1 %}margin-inline: auto;width: 50%;{% endif %}"
   href="{% url 'category-products' item.title|spaces_to_dashes %}?{{ url_args }}">
    <div class="card-preview-wrapper">
        <img src="../../../uploads/{{ item.photo }}" class="card-preview">
    </div>
    <div class="card-content">
        <div class="card-specs">
            <b style="font-size: 1.3em;">{{ item.title|dashes_to_spaces }}</b>
            ~<b class="card-price">{{ item.price|round_:2 }}$</b>
        </div>
    </div>
</a>
