<a class="card"
   style="{% if items.count < 5 %}height: 50%;{% else %}height: 100%;{% endif %}{% if items.count == 1 %}width: 25%;{% endif %}"
   href="{% url 'product-card' item.id %}">
    <div class="card-hover-field" id="{{ idx }}"></div>
    <div class="card-preview-wrapper">
        <img src="../../../uploads/{{ item.photo }}" class="card-preview">
    </div>
    <div class="card-content">
        <div class="card-specs">
            <b style="font-size: 1.3em;">{{ item.title|dashes_to_spaces }}</b>
            <b class="card-price">{{ item.price }}$</b>
            <span style="font-size: .8em;color: rgb(205 205 205);">{{ item.author__username }}</span>
            <span
                    style="background: {{ item.color }};width: .8em;height: .8em;border-radius: .2em;display: block;margin-top: 2%;">
            </span>
        </div>
    </div>
</a>
