{% extends 'users\account.html' %}
{% load static %}

{% block head %}
{% if current_section == "cards" %}
    <link rel="stylesheet" href="{% static 'css\users\account-cards.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{% elif current_section == "categories" %}
    <link rel="stylesheet" href="{% static 'css\users\account-categories.css' %}" type="text/css"
          xmlns="http://www.w3.org/1999/html">
{% endif %}
<link rel="stylesheet" href="{% static 'css\users\confirm-window.css' %}" type="text/css"
      xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block profile-content %}
    <div class="user-cards {% if items|length < 4 %}one-row{% endif %}">
    {% if items %}
        {% for item in items %}
            {% if current_section == "cards" %}
                {% include 'users/account-product-card.html' %}
            {% elif current_section == "categories" %}
                {% include 'users/account-category-card.html' %}
            {% endif %}
        {% endfor %}
        {% include 'users/confirm-delete-card.html' %}
    {% else %}
        you have not published products
    {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js\users\confirm.js' %}"></script>
{% endblock %}