{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\users\login.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{% static 'css\users\account.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}
Hi, {{ user.username }}
{% endblock %}

{% block header %}
    {% include 'users/account-header.html' %}
{% endblock %}

{% block rootcontent %}
    <div class="form">
        <div class="register-form account-info">
            <div class="account-info-string">{{ user.username }}</div>
            <div class="account-info-string">{{ user.email }}</div>
        </div>
    </div>
{% endblock %}
