{% extends 'users\account.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\users\account-cards.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block profile-content %}
    <div class="user-cards {% if items|length < 4 %}one-row{% endif %}">
    {% if items %}
        {% for item in items %}
            <a class="account-info-string user-card-info"
               href="{% url 'product-card' item.title %}"
               style="color: black;text-decoration: none;"
               title="{{ item.title|dashes_to_spaces }}">
                <p class="user-card-title">{{ item.category }}/{{ item.title|dashes_to_spaces }}</p>
                <div class="user-card-price">{{ item.price }}$</div>
            </a>
        {% endfor %}
    {% else %}
        you have not published products
    {% endif %}
    </div>
{% endblock %}
