{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css\users\account.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}
Hi, {{ user.username }}
{% endblock %}

{% block header %}
    {% include 'users/account-header.html' %}
{% endblock %}

{% block rootcontent %}
    <div class="form {% if products|length < 7 %}{% else %}big{% endif %}">
        <div class="account-body">
            <nav class="account-sections">
                <a class="section" id="section-1" href="{% url 'account-info' request.user.id %}">
                    <div class="section-text">info</div>
                    <i class="section-underline {% if current_section == 'info' %}active{% endif %}"
                       id="section-1-underline"
                    ></i>
                </a>
                <a class="section" id="section-2" href="{% url 'account-cards' request.user.id %}">
                    <div class="section-text">{% if is_self_account %}my cards{% else %}cards{% endif %}</div>
                    <i class="section-underline {% if current_section == 'cards' %}active{% endif %}"
                       id="section-2-underline"
                    ></i>
                </a>
                {% if is_self_account %}
                    <a class="section" id="section-3" href="{% url 'basket' user.id %}">
                        <div class="section-text">basket</div>
                        <i class="section-underline {% if current_section == 'basket' %}active{% endif %}"
                           id="section-3-underline"
                        ></i>
                    </a>
                {% endif %}
            </nav>
            <div class="register-form account-info">
                {% block profile-content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
