{% extends 'main-header.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css\products\base-header.css' %}" type="text/css">
{% endblock %}

{% block navigation %}
    <a class="header-nav-button" href="{% url 'home' %}">home</a>
    <a class="header-nav-button" href="{% url 'logout' %}">logout</a>
    <a class="header-nav-button" href="{% url 'add-category' %}">add category</a>
    <a class="header-nav-button" href="{% url 'add-card' %}">add product</a>
{% endblock %}
