<div class="confirm-window-wrapper" style="opacity: 0;display: none;">
  <div class="confirm-window">
    You are shure?
    {{ item.title }}
    <div class="buttons-confirm">
      {% if current_section == "products" %}
        <form method="post" action="{% url 'delete-product' 0 %}" id="delete-form">
      {% endif %}
        {% csrf_token %}
        <button type="submit" class="confirm-button delete-button">delete</button>
      </form>
      <button class="confirm-button user-card-cancel-card" id="cancel">
        cancel
      </button>
    </div>
  </div>
</div>
