{% extends 'users\account.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\users\notifications.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block profile-content %}
        {% if notifications %}
            {% for idx, notification in notifications|enumerate_ %}
                <div class="notification">
                    <div class="notification-title" id="notification-title-{{ idx }}">
                         <div class="notification-title-start">
                            <span class="theme-marker"
                                  id="theme-marker-{{ idx }}"
                                  style="background: {% if notification.theme == 'pur' %}darkseagreen{% elif notification.theme == 'inf' %}lightslategrey{% endif %}">
                                {{ notification.theme|get_title_theme }}
                            </span>
                            <form method="post" action="{% url 'account-notification-delete' notification.id %}">
                                {% csrf_token %}
                                <button type="submit" class="theme-marker delete-notification">delete</button>
                            </form>
                         </div>
                        <span class="notification-date" id="notification-date-{{ idx }}">{{ notification.time }}</span>
                    </div>
                    <div class="notification-details" id="notification-{{ idx }}">
                        <div class="notification-full-text" id="notification-full-text-{{ idx }}">
                            {% for line in notification.text|wrap:60 %}
                                {{ line }}<br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            there are no notifications yet
        {% endif %}
{% endblock %}
