{% extends 'warning.html' %}
{% load static %}

{% block title %}
reset password
{% endblock %}

{% block additional-head %}
<link rel="stylesheet"
      href="{% static 'css\users\email-verification.css' %}"
      type="text/css"
      xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block warn-title %}
RESET
{% endblock %}
{% block warn-title-highlighted %}
PASSWORD
{% endblock %}
{% block warn-info %}
we have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do
not receive it in a few minutes.
{% endblock %}

