@-webkit-keyframes background-animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes background-animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes background-animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

.page-content  {
    margin: 0px;
    display: flow-root;
    font-size: 2.5vh!important;
    font-family: monospace!important;
    user-select: none;
    height: 100vh;
    background: linear-gradient(48deg, #ffffff, #000000);
    background-size: 400% 400%;
    -webkit-animation: background-animation 20s ease infinite;
    -moz-animation: background-animation 20s ease infinite;
    animation: background-animation 20s ease infinite;
}

.page-content::-webkit-scrollbar {
    display: none;
}

.static-bg  {
    background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.small-text {
    font-size: .7em;
}
