{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\users\register.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{% static 'css\products\add-product.css' %}" type="text/css"
      xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}
    {% if form.initial %}Edit product{% else %}Add product{% endif %}
{% endblock %}

{% block header %}
    {% include 'base-header.html' %}
{% endblock %}

{% block rootcontent %}
<div class="form">
    <form enctype="multipart/form-data" method="post" class="register-form" id="floated-element">
        {% csrf_token %}
        <span style="font-size: 1.5em;font-family: sans-serif;font-weight: 700;color: rgb(40, 40, 40);white-space: nowrap;">ADD NEW PRODUCT</span>
        {% for field in form %}
            {% if field.name != "author" %}
                <p class="data-input">
            {% else %}
                <p class="data-input" style="display:none;">
            {% endif %}
                <label title="{{ field.label|lower }}" class="full-title">{{ field.label|lower }}</label>
                <label title="{{ field.label|lower }}"
                       class="abbreviated-title {% if field.name == 'products_count' %}products-count-abbreviated-label{% endif %}">
                    {{ field.name|lower|underlines_to_spaces }}
                </label>
                {% if field.name == "photo" %}
                    {{ field }}
                    <label class="drop" for="{{ field.id_for_label }}">drop file</label>
                {% else %}
                    {% if field.name == "price" or field.name == "stortage" %}
                    <span style="display: flex;justify-content: flex-start;"
                          class="price-product-input">
                        {{ field }}
                            <span
                                    style="background-color: rgb(0, 0, 0, .5);color: white;border-radius: .2em;padding-inline: .2em;margin-left: .2em;">
                                {% if field.name == "price" %}${% elif field.name == "stortage" %}gb{% endif %}
                            </span>
                    </span>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endif %}
                {% if field.errors %}
                    <span class="warnings" id="{{ field_id }}">
                        <img src="{% static 'img\users\warn.png' %}" class="warn-icon">
                        <span class="warn-info" style="opacity: 0;display: none" id="warn-window-{{ field_id }}">
                            <span class="warn">
                                {% for err in field.errors %}
                                    {% for part in err|wrap %}
                                        {{ part }}<br>
                                    {% endfor %}
                                {% endfor %}
                            </span>
                        </span>
                    </span>
                {% endif %}
                </p>
            {% endfor %}
        <button type="submit" class="submit-button">{% if form.initial %}Edit{% else %}Add{% endif %}</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js\users\warns.js' %}"></script>
<script type="text/javascript" src="{% static 'js\products\filedrop.js' %}"></script>
{% endblock %}